<div class="border-2 rounded border-background p-4 form__wrapper mt-8 first:mt-0 last:pb-4">
  <legend><label><%= t("decidim.system.models.organization.fields.dipgra_census_settings") %></label></legend>
  <div class="field">
    <%= f.text_field :ine_code %>
  </div>
  <div class="field">
    <%= f.text_field :municipality_code %>
  </div>
</div>
