<div class="fieldset">
  <legend><label><%= t("decidim.system.models.organization.fields.dipgra_census_settings") %></label></legend>
  <div class="field">
    <%= f.text_field :ine_code %>
  </div>
  <div class="field">
    <%= f.text_field :municipality_code %>
  </div>
</div>
